.category-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #5C738A;
    margin-bottom: 16px;
    display: block;
    padding-top: 84px;
}

.products-category {
    padding: 0px;
    gap: 16px;
    width: 196px;

}

.category {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #5C738A;
    margin-bottom: 16px;
    display: block;
}

.category:focus {
    font-weight: 600;
    color: #2B333B;
}

.category-product-container {
    margin-top: 8px;
    margin-bottom: 40px;
}

.category-product-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
}

.category-products {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 24px;
    margin-top: 24px;
}


/*----------------------
     Media Queries
---------------------- */

/* Mobile device */
@media screen and (max-width:692px) {
    .category-title {
        display: none;

    }

    .category-products {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 24px;
    }
}



/* Tablet devices */
@media only screen and (min-width:693px) and (max-width:1192px) {

    .category-products {
        grid-template-columns: repeat(3, 1fr);
        /* gap: 24px; */
    }
}